@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Greycliff CF';
    src: url('/assets/fonts/GreycliffCF-ThinOblique.ttf') format('truetype');
    font-weight: normal; /* Ajusta según el peso de la fuente */
    font-style: oblique; /* Ajusta según el estilo de la fuente */
  }
  


